@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/Noto_Sans/NotoSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import "./variables.scss";

// common css

html {
  box-sizing: border-box;
}
body {
  font-family: 'NotoSans-Regular';
  color: $secondary;
  margin: 0;
  box-sizing: border-box;
}

.dFlex {
  display: flex;
}
.dFlexCenter {
  display: flex;
  align-items: center;
}

