$primary: #01B99F;
$secondary:#1D232B;
$secondary2: #313B49;
$secondary3: #5A6B87;
$white:#ffffff;
$gray:#CED3DE;
$gray2:#F7F8FA;
$gray3:#919EB6;
$gray4:#AFB9CA;
$black:#000000;

$font-xs:10px;
$font-sm:12px;
$font-md:14px;
$font-lg:18px;
